<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VCCVoipVideoViewController</key>
	<dict>
		<key>shrinkAction</key>
		<dict>
			<key>EventName</key>
			<string>最小化</string>
			<key>umengId</key>
			<string>vcc_voip_others</string>
		</dict>
	</dict>
	<key>VCCVoipVoiceViewController</key>
	<dict>
		<key>shrinkAction</key>
		<dict>
			<key>EventName</key>
			<string>最小化</string>
			<key>umengId</key>
			<string>vcc_voip_others</string>
		</dict>
	</dict>
	<key>VCCVoipVideoTalkView</key>
	<dict>
		<key>localAction:</key>
		<dict>
			<key>EventName</key>
			<string>画中画</string>
			<key>umengId</key>
			<string>vcc_voip_others</string>
		</dict>
	</dict>
	<key>VCCVoipVideoBarView</key>
	<dict>
		<key>hangupAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_video_call</string>
		</dict>
		<key>answerAction:</key>
		<dict>
			<key>EventName</key>
			<string>成功接听</string>
			<key>umengId</key>
			<string>vcc_voip_video_call</string>
		</dict>
		<key>muteAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_video_audiomenu</string>
		</dict>
		<key>audioDeviceAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_video_audiodevice</string>
		</dict>
		<key>cameraOnOffAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_video_camera_switch</string>
		</dict>
		<key>cameraSwitchAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_video_camera_location</string>
		</dict>
	</dict>
	<key>VCCVoipVoiceBarView</key>
	<dict>
		<key>hangupAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_audio_call</string>
		</dict>
		<key>answerAction:</key>
		<dict>
			<key>EventName</key>
			<string>成功接听</string>
			<key>umengId</key>
			<string>vcc_voip_audio_call</string>
		</dict>
		<key>muteAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_audio_audiomenu</string>
		</dict>
		<key>audioDeviceAction:</key>
		<dict>
			<key>EventName</key>
			<string></string>
			<key>umengId</key>
			<string>vcc_voip_audio_audiodevice</string>
		</dict>
	</dict>
</dict>
</plist>
