<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreateConferenceController</key>
	<string>CreateConferenceController</string>
	<key>VCCListIMFileController</key>
	<string>VCCListIMFileController</string>
	<key>VCCListFileController</key>
	<string>VCCListFileController</string>
	<key>MyConferenceController</key>
	<string>MyConferenceController</string>
	<key>MeetingRoomViewController</key>
	<string>MeetingRoomViewController</string>
	<key>MainConferenceViewController</key>
	<string>MainConferenceViewController</string>
	<key>LaunchConferenceVoteViewController</key>
	<string>LaunchConferenceVoteViewController</string>
	<key>ConferenceVotingRecordViewController</key>
	<string>ConferenceVotingRecordViewController</string>
	<key>VCCVoipVoiceViewController</key>
	<string>VCCVoipVoiceViewController</string>
	<key>VCCVoipVideoViewController</key>
	<string>VCCVoipVideoViewController</string>
</dict>
</plist>
